@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		@apply m-0 p-0 box-border font-["Poppins"]
	}
	body{
		@apply h-screen bg-smoky-black overflow-x-hidden
	}
	.container {
		@apply min-w-full max-w-screen-2xl my-0 mx-auto py-0 text-center
	}
	.header {
		@apply align-middle flex justify-between p-5 border-b-[1px] border-solid border-b-deep-space-sparkle mb-14 bg-charlestown-green font-semibold relative h-16
	}
	.header p {
		@apply flex justify-center align-middle
	}
	.header ul {
		@apply flex justify-end
	}
	.header ul li {
		@apply flex ml-5 align-middle
	}
	.header ul li a {
		@apply flex items-center
	}
	.header ul li a svg {
		@apply mr-1
	}
	.header ul li a{
		@apply text-mint-cream hover:text-paradise-pink transition-colors duration-150
	}
	.middle-text {
		@apply text-white absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]
	}
	.logo {
		@apply flex text-mint-cream hover:text-paradise-pink justify-start align-middle transition-colors duration-150
	}
	li {
		@apply leading-3
	}
	ul {
		@apply list-none
	}
	.heading {
		@apply items-center text-3xl font-semibold mb-8 py-0 px-5
	}
	.heading p {
		@apply text-mint-cream
	}
	.heading h1 {
		@apply flex justify-center text-5xl text-paradise-pink
	}
	.form {
		@apply w-2/3 my-0 mx-auto
	}
	.form-group {
		@apply mb-2 
	}
	.form-group input, .form-group textarea .form-group select {
		@apply w-full p-2 border-[1px] border-solid /* border-black rounded-md mb-2 */
	}
	.form-group label {
		@apply text-left block mt-0 mr-0 mb-1 ml-1
	}
	.form-control {
		@apply block mx-auto px-3 py-1.5 text-base placeholder:text-deep-space-sparkle text-mint-cream bg-charlestown-green focus:bg-deep-space-sparkle focus:placeholder-charlestown-green bg-clip-padding border border-solid border-transparent rounded transition-all outline-hidden outline-none w-full shadow-md shadow-[#00000040]
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		box-shadow: 0 0 0px 1000px #252C2C inset;
		-webkit-text-fill-color: #F8FFF4;
		-webkit-box-shadow: 0 0 0px 1000px #252C2C inset;
		transition: background-color 5000s ease-in-out 0s;
	}
	.btn {
		@apply flex px-5 /* border-[1px] border-deep-space-sparkle */ rounded shadow-md shadow-[#00000040] bg-charlestown-green text-mint-cream hover:text-paradise-pink hover:bg-deep-space-sparkle hover:rounded-sm transition-all duration-100 text-base font-semibold cursor-pointer text-center items-center justify-center
	}
	.btn-block {
		@apply w-full py-2 my-3
	}
	.loading-spinner-container {
		@apply fixed top-0 right-0 bottom-0 left-0 bg-[rgba(0,0,0,0.5)] z-50 flex justify-center items-center
	}
	.loading-spinner {
		@apply w-16 h-16 border-8 border-t-paradise-pink border-r-transparent border-b-charlestown-green border-l-transparent rounded-[50%] animate-spin;
	}
	.playlists {
		@apply flex justify-center flex-wrap
	}
	.playlist {
		@apply text-mint-cream bg-charlestown-green rounded-md border-[1px] border-transparent hover:border-paradise-pink transition-all hover:rounded relative
	}
	.playlist-info {
		@apply my-2 text-ellipsis overflow-hidden text-xl
	}
	.thumbnail {
		@apply w-56 rounded-b-md group-hover:rounded-b
	}
	.overlay {
		@apply bg-[rgba(185,28,28,0.3)] absolute left-0 top-0 min-w-full min-h-full rounded-md flex items-center justify-center
	}
	.song-wrapper {
		@apply rounded-xl hover:rounded-md grid w-full items-center relative transition-all duration-100 overflow-hidden h-16 hover:text-paradise-pink my-1 shadow-md shadow-[#00000040] bg-[#252C2C20] hover:bg-[#252C2CA0];
	}
	.song-thumbnail-wrapper {
		@apply relative w-full h-full
	}
	/* .song-thumbnail {
	} */

	.song-text {
		@apply text-xl text-left items-center pl-4 whitespace-nowrap text-ellipsis overflow-hidden z-20 group-hover:font-semibold
	}
	.playlist-banner-image {
		@apply select-none w-full bg-cover bg-center;
		
		/* mask-image: -webkit-radial-gradient(farthest-side at 0px 0px, rgba(0,0,0,1) 9%, rgba(0,0,0,0.9051995798319328) 24%, rgba(0,0,0,0.6530987394957983) 37%, rgba(0,0,0,0.5) 51%, rgba(0,0,0,0) 76%); */
		/* mask-image: radial-gradient(farthest-side at 0px 0px, rgba(0,0,0,1) 9%, rgba(0,0,0,0.9051995798319328) 24%, rgba(0,0,0,0.6530987394957983) 37%, rgba(0,0,0,0.5) 51%, rgba(0,0,0,0) 76%); */

		/* mask-size:cover; */
		/* -webkit-user-drag: none; */
	}
	.playlist-banner-image-border {
		@apply select-none bg-mint-cream absolute w-full aspect-square;
		/* mask-image: url("../../logoMaskStroke.png"); */
		mask-size:cover;
	}
	.playlist-screen-wrapper {
		@apply grid 
	}
	.left-pane {
		@apply p-2 grid grid-rows-[auto_1fr] gap-2
	}
	.right-pane {
		@apply p-2 text-mint-cream overflow-x-hidden grid grid-rows-[3.5rem_1fr] gap-2
	}
	.song-section-wrapper {
		@apply /* border-[1px] border-deep-space-sparkle */ shadow-md shadow-[#00000040] rounded-md relative overflow-y-scroll overflow-x-hidden bg-smoky-black
	}
	.playlist-banner {
		@apply grid mx-auto
	}
	.playlist-banner-text-wrapper {
		@apply flex items-center min-w-0 h-full
	}
	.playlist-banner-text {
		@apply text-paradise-pink font-semibold text-center whitespace-nowrap overflow-hidden text-ellipsis leading-normal z-10
	}
	.playlist-details {
		@apply grid text-mint-cream items-center
	}
	.playlist-details h3 {
		@apply font-semibold
	}
	.stats {
		@apply grid /* border-[1px] border-deep-space-sparkle */ rounded bg-charlestown-green shadow-md shadow-[#00000040]
	}
	.stats div {
		@apply grid h-full items-center
	}
	.new-playlist-name {
		@apply playlist-banner-text bg-transparent focus:outline-none placeholder:text-charlestown-green w-full
	}
	.song-player-banner {
		@apply h-full grid grid-rows-[auto_1fr] gap-2
	}
	.modal {
		@apply fixed inset-0 bg-[#121212F0] flex items-center justify-center z-50 opacity-0 transition-all pointer-events-none
	}
	.modal.show {
		@apply opacity-100 pointer-events-auto
	}
	.modal-content {
		@apply border-[1px] border-deep-space-sparkle p-5 rounded-md bg-[#252C2CA0] -translate-y-56 transition-all w-fit;
	}
	.modal.show .modal-content {
		@apply translate-y-0
	}
	.modal-header {
		@apply text-xl font-semibold text-paradise-pink pb-5
	}
	.modal-body {
		@apply text-mint-cream mx-2 border-[1px] border-deep-space-sparkle rounded-md gap-1 grid
	}
	.modal-body button {
		@apply h-full rounded-md hover:bg-deep-space-sparkle transition-all text-mint-cream p-2 w-20
	}
	.modal-footer {
		@apply w-fit ml-auto font-bold text-2xl text-paradise-pink mb-[-1rem] hover:text-mint-cream transition-all
	}
	.current-song-thumbnail {
		@apply opacity-30
		/* mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.15) 60%,rgba(0,0,0,0) 90%); */
	}
	
	
	/* width */
	::-webkit-scrollbar {
		@apply w-[.7rem]
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: linear-gradient(-90deg,rgba(37,44,44,1) 25%, rgba(37,44,44,0) 25%);
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-paradise-pink /* hover:bg-deep-space-sparkle */ transition-all;
		background: linear-gradient(90deg, rgba(227, 74, 111, 0) 15%, rgba(227, 74, 111,1) 15%, rgba(227, 74, 111,1) 40%, rgba(227, 74, 111,0) 40%);
	}
	
	
	
	@media (1200px <= width) {
		.song-wrapper {
			@apply grid-cols-[10rem_1fr] hover:h-28;
		}
		.song-text {
			@apply col-start-2
		}
		.playlist-screen-wrapper{
			@apply grid-cols-[70vw_1fr] h-[calc(100vh-8rem)]
		}
		/* .left-pane {
			@apply
		} */
		.playlist-banner {
			@apply w-full
		}
		.playlist-banner-image {
			mask-image: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(0,0,0,0.9051995798319328) 24%, rgba(0,0,0,0.6530987394957983) 37%, rgba(0,0,0,0.5) 51%, rgba(0,0,0,0) 76%);
		}
		.stats {
			@apply grid-rows-3
		}
		.stats div {
			@apply grid-cols-2
		}
		.stats p {
			@apply text-left
		}
		.playlist-details {
			@apply grid-cols-4
		}
		.playlist-banner-text-wrapper {
			@apply justify-center
		}
		.playlist-banner-text {
			@apply text-[8rem]
		}
		.modal-body {
			@apply grid-cols-[auto_1fr]
		}
		.song-thumbnail {
			@apply absolute h-full w-full object-cover group-hover:scale-110 transition-all;
			-webkit-user-drag: none;
			mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0,0,0,.1) 65%, rgba(0,0,0,0) 90%);
		}
	}
	@media (width <= 1200px) {
		.song-wrapper {
			@apply grid-cols-[4rem_1fr];
		}
		/* .song-thumbnail {
			@apply object-fill
		} */
		.song-text {
			@apply text-left text-lg
		}
		.playlist-screen-wrapper{
			@apply grid-rows-[auto_1fr]
		}
		.left-pane {
			@apply h-[auto] border-b-[1px] border-b-charlestown-green
		}
		.right-pane {
			@apply h-[80vh]
		}
		.playlist-banner-text-wrapper {
			@apply justify-center h-fit
		}
		.playlist-banner-text {
			@apply text-[4rem]
		}
		.playlist-banner-image {
			mask-image: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(0,0,0,0.9051995798319328) 13%, rgba(0,0,0,0.6530987394957983) 20%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0) 35%);
		}
		.stats {
			@apply grid-cols-3 h-[4.5rem]
		}
		.stats div {
			@apply grid-rows-2
		}
		.stats p {
			@apply text-center
		}
		.playlist-details {
			@apply grid-rows-3 py-2
		}
		.modal-body {
			@apply grid-rows-[auto_1fr] w-full
		}
	}
}